body {
    background-color: rgb(231, 235, 236);
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

h1 {
    color: black;
    margin-left: 20px;
}

.cities {
    text-align: center;
    color: black;
    padding-block-end: 5%;
}

.para {
    text-align: center;
    color: black;
    padding-left: 1cm;
    padding-right: 1cm;
    height: 6cm;;
    
}
.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
.centre{
    text-align: center;
    padding-block-end: 5%
}   
.service{
    text-align: center;
    padding-block-end: 1cm;
}
.node{
    padding-block-end: 1cm;
    padding-left: 10px;
}
