body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.cities {
    text-align: center;
    color: red;
}

.para {
    text-align: center;
    color: blue;
}
.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}